body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid black;
}

table {
    border-spacing: 10px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: lightyellow; 
    border: 2px solid black; 
    border-radius: 10px;
    font-size: 18px;
}